<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="MyMusicRoot" value="F:\My Music"/>
    <add key="ITunesLibFilePath" value="F:\My Music\iTunes\iTunes Music Library.xml"/>
    <add key="MinAcceptableImageDimension" value="400"/>
    <add key="FolderImageFilename" value="Folder.jpg"/>
  </appSettings>
  
  <log4net>
    <!-- Value of logger priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <root>
      <level value="INFO" />
      <appender-ref ref="FileLog" />
      <appender-ref ref="ConsoleLog" />
    </root>
    <!--<logger name="NU.BSD.StaffDetailService.DataLoad.{some other namespace to log independently...}" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="{some extra appender maybe?}"/>
    </logger>-->
    
    <appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %message%newline" />
        </layout>
    </appender>
    
    <appender name="FileLog" type="log4net.Appender.FileAppender">
      <Threshold value="INFO"/>
      <file value="F:\My Music\SortMyMusic.log" />
      <appendToFile value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="======== Begin at [%date] ========%newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="%newline========= End at [%date] =========%newline%newline" type="log4net.Util.PatternString"/>
        <param name="ConversionPattern" value="%date{HH:mm:ss} (%M): %-5p %message%newline"/>
      </layout>
    </appender>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>